*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
   margin: 0px;
}

/* Make a scrollable container */


.menu {
    width: 100%;
    height: 50;
    overflow-y: auto;
    
}

/* Bouncy effect for mobile */
.menu::-webkit-scrollbar {
    display: none; /* Hides the scrollbar on WebKit browsers */
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 5;
    width: 90%;
    background-color: #1A1818;
}

nav hr{
    width: 0%;
    height: 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    display:none;
    animation: expand-hr 10s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes expand-hr {
    from {width: 0%}
    to {
        width: 100%;
    }
}


body {
    background-color:#1A1818;
    padding: 0px;
    color: black;
    overflow-y: hidden  ;


}

.title {
    font-size: 80px;  
    
}

.title a {
    font-family: 'Consolas', 'Lucida Console', monospace;
    color: gray;
    text-decoration: none;
    transition: padding 0.3s ease-out, color 0.3s ease-out;;
    margin-bottom: 20px;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    width: 80%;
   
}

.transparent-sep {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 30px;
}



.title a:hover {
    color: white;
    padding-left: 20px;

}

main{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    flex-direction: row;
    flex-direction: rows;

}
.main-left {
    width: 40%;
    

}

.main-right{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    

}
.content{
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    top: 30vh;
    align-items: center;
    width: 40%;
    padding: 20px;
}


.descript{
    padding: 0px;
    font-size: 2vw;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    min-width: 20vw;
    position: fixed;
    background-color: rgba(26,24,24,1);

   
    

}

.menu-container-ani {
    animation: menu-container-bg-preview 60s ease-in-out forwards;

}

@keyframes menu-container-bg-preview {
    0% {
        background-color: rgba(26,24,24,1);
    }
    3% {
        background-color: rgba(26,24,24,0.8);
    }
    97% {
        background-color: rgba(26,24,24,0.8);
    }
    100% {
        background-color: rgba(26,24,24,0.1);
    }
}

#profile-img {
    border-radius:50%;
    width: 50px;
    height: 50px;
}

.cover-profile-img {
    border-radius:50%;
    width: 50px;    
    height: 50px;
    
    border-width: 5px;
    border-style: solid;
    margin-right: 10px;
   
}


.cover-profile-img-end {
    border-radius:50%;
    width: 50px;
    height: 50px;
    animation: cover-profile-img-end-animation 0.5s forwards;
    border-width: 0px;
    border-style: solid;
    position: fixed;
    top: 50%;
    left: 50%;
}


@keyframes cover-profile-img-end-animation {
    0% {
        transform: scale(1)
        
    }
    100% {
        transform: scale(0)
    }
}

.cover-profile-img:hover {
    border-color: green;
}

@keyframes cover-profile-img-alternate-colors {
    0%{
        border-color: green;
    }

    100%{
        border-color: #1A1818;
    }
}


.nav-year{
    font-size: 20px;

}

#section-cover {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    color: white;
    background-color: rgba(26,24,24,1);
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    padding: 10px;
    
}


#video-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    
    min-height: 100%;
    z-index: -1; /* Make sure it's behind other content */
    object-fit: cover; /* Ensures the video covers the entire area */
    opacity: 0;
    animation: appear 2s ease-in-out forwards;
}

@keyframes appear {
    to{
        opacity: 1
    }
}




.cover-to-nav {
    animation: reduceHeight 2s forwards; /* Apply animation */
}

@keyframes reduceHeight {
    
    to {
        height: 100px; /* End height */
    }
}


#cover-sep {
    display: none;
    background-color: white;
    height: 2px;
    width: 0%;
    animation: cover-sep-expand 5s cubic-bezier(0,.96,0,.99) forwards;
}

@media (max-width: 400px) {
    #cover-sep{
  
    animation: cover-sep-expand-small 5s cubic-bezier(0,.96,0,.99) forwards;
    }
}

@media (max-width: 900px) {
    #cover-sep{
 
    animation: cover-sep-expand-medium 5s cubic-bezier(0,.96,0,.99) forwards;
    }
}

@keyframes cover-sep-expand-small {
    to {
        width: 30%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}
@keyframes cover-sep-expand-medium {
    to {
        width: 50%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}

@keyframes cover-sep-expand {
    to {
        width: 80%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}

.title {
    opacity: 0;
    font-size: 30px;
    display: none;
    animation: title-intro 4s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes title-intro {
    0% {
        opacity: 0;
        color: black;
        transform: translateX(-300px);
    }

   
    100% {
        color: white;
        transform: translateX(0px);
        opacity: 1;

    }

}
.descript {
    display: none;
}

#content{
    display: none;
    width: 100%;
    
    padding-top: 120px; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30%;
    overflow-y: hidden;
    opacity: 1;
    color: black;
   
}

.content-page {
    background-color: white;        
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0);
    transition: margin 0.3s ease-out;
    animation: content-init 2s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes content-init {
    0% {
        opacity: 1;
        transform: translateY(100vh);
     
    }

   
    100% {
        transform: translateY(0px);
        opacity: 1;

    }

}

.blinking-display {
    color: white;
    opacity: 0;
    animation: blink-display-animation 0.5s linear infinite;
}

@keyframes blink-display-animation {
    to{
        opacity: 1;
    }
}

.title a.active {
    color: orangered;
}

.top-p{
    text-align: left;
    padding-left: 20px;
}

.p{
    text-align: left;
}