*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
   margin: 0px;
}

/* Make a scrollable container */


.menu {
    width: 100%;
    height: 50;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    
}

/* Bouncy effect for mobile */
.menu::-webkit-scrollbar {
    display: none; /* Hides the scrollbar on WebKit browsers */
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 5;
    width: 90%;
    background-color: #1A1818;
}

nav hr{
    width: 0%;
    height: 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    display:none;
    animation: expand-hr 10s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes expand-hr {
    from {width: 0%}
    to {
        width: 100%;
    }
}


body {
    background-color:#1A1818;
    padding: 0px;
    color: black;
    overflow-y: hidden  ;


}

.title {
    font-size: 80px;  
    
}

.title a {
    font-family: 'Consolas', 'Lucida Console', monospace;
    color: gray;
    text-decoration: none;
    transition: padding 0.3s ease-out, color 0.3s ease-out;;
    margin-bottom: 20px;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    width: 80%;
    font-size: 20px;
    
   
}

.transparent-sep {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 30px;
}



.title a:hover {
    color: white;
    padding-left: 20px;

}

main{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    flex-direction: row;
    flex-direction: rows;

}
.main-left {
    width: 40%;
    

}

.main-right{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    

}
.content{
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    top: 30vh;
    align-items: center;
    width: 40%;
    padding: 20px;
}


.descript{
    padding: 0px;
    font-size: 2vw;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    min-width: 20vw;
    position: fixed;
    background-color: rgba(26,24,24,1);

   
    

}

.menu-container-ani {
    animation: menu-container-bg-preview 60s ease-in-out forwards;

}

@keyframes menu-container-bg-preview {
    0% {
        background-color: rgba(26,24,24,1);
    }
    3% {
        background-color: rgba(26,24,24,0.8);
    }
    97% {
        background-color: rgba(26,24,24,0.8);
    }
    100% {
        background-color: rgba(26,24,24,0.8 );
    }
}

#profile-img {
    border-radius:50%;
    width: 50px;
    height: 50px;
}

.cover-profile-img {
    border-radius:50%;
    width: 50px;    
    height: 50px;
    border-width: 0px;
    border-style: solid;
    opacity: 0.3;
    margin-right: 10px;
    animation: cover-profile-img-anim 1s ease-in-out forwards;
}

@keyframes cover-profile-img-anim {
    from{
        opacity: 0.3
    }
    to{
        opacity: 1
    }
}




.cover-profile-img-end {
    border-radius:50%;
    width: 50px;
    height: 50px;
    animation: cover-profile-img-end-animation 0.5s forwards;
    border-width: 0px;
    border-style: solid;
    position: fixed;
    top: 50%;
    left: 50%;
}


@keyframes cover-profile-img-end-animation {
    0% {
        transform: scale(1)
        
    }
    100% {
        transform: scale(0)
    }
}


@keyframes cover-profile-img-alternate-colors {
    0%{
        border-color: green;
    }

    100%{
        border-color: #1A1818;
    }
}


.nav-year{
    font-size: 20px;

}

#section-cover {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    color: white;
    background-color: rgba(26,24,24,1);
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    padding: 10px;
    
}

p span{
    font-size: 15px;
}
#video-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    
    min-height: 100%;
    z-index: -1; /* Make sure it's behind other content */
    object-fit: cover; /* Ensures the video covers the entire area */
    

    opacity: 0;
    filter:brightness(0.5);
    animation: appear 2s ease-in-out forwards;
}

@keyframes appear {
    to{
        opacity: 1
        
    }
}




.cover-to-nav {
    animation: reduceHeight 0.5s forwards; /* Apply animation */
}

@keyframes reduceHeight {
    
    to {
        height: 100px; /* End height */
    }
}


#cover-sep {
    display: none;
    background-color: white;
    height: 2px;
    width: 0%;
    animation: cover-sep-expand 5s cubic-bezier(0,.96,0,.99) forwards;
}

@media (max-width: 400px) {
    #cover-sep{
  
    animation: cover-sep-expand-small 5s cubic-bezier(0,.96,0,.99) forwards;
    }
}

@media (max-width: 900px) {
    #cover-sep{
 
    animation: cover-sep-expand-medium 5s cubic-bezier(0,.96,0,.99) forwards;
    }
}

@keyframes cover-sep-expand-small {
    to {
        width: 30%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}
@keyframes cover-sep-expand-medium {
    to {
        width: 50%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}

@keyframes cover-sep-expand {
    to {
        width: 80%;    
        margin-left: 10px;
        margin-right: 20px;
    }
}

.title {
    opacity: 0;
    font-size: 30px;
    display: none;
    animation: title-intro 4s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes title-intro {
    0% {
        opacity: 0;
        color: black;
        transform: translateX(-300px);
    }

   
    100% {
        color: white;
        transform: translateX(0px);
        opacity: 1;

    }

}
.descript {
    display: none;
}

#content{
    display: none;
    width: 100%;
    
    padding-top: 120px; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30%;
    overflow-y: hidden;
    opacity: 1;
    color: black;
   
}

.content-page {
    background-color: white;        
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: margin 0.3s ease-out;
    animation: content-init 2s cubic-bezier(0,.96,0,.99) forwards;
}

@keyframes content-init {
    0% {
        opacity: 1;
        transform: translateY(100vh);
     
    }

   
    100% {
        transform: translateY(0px);
        opacity: 1;

    }

}

.blinking-display {
    color: white;
    opacity: 0;
    animation: blink-display-animation 0.5s linear infinite;
}

.vertical-title{
    text-align: left;
    font-size: 50px; color:white; writing-mode: vertical-rl; /* Makes text vertical from right to left */
    border-width: 0px;;
    border-right: 10px;
    border-color: white;
    border-style: solid;
    width: 10%;
    text-orientation: upright;

}

.enum-tools{
    margin-left: 20px;
    text-align: left;
}
@keyframes blink-display-animation {
    to{
        opacity: 1;
    }
}

.title a.active {
    color: #B53D4D;
}

.title a:hover{
    cursor: pointer;
}
.top-p{
    text-align: left;
    padding-left: 20px;
}

.p{
    text-align: left;
}

.tech {
    font-size: 50px;
    color: white;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}

.tech-mini {
    font-size: 20px;
    color: #B53D4D;
}

.image-text-container {
    display: flex; flex-direction: column; padding: 20px; margin: 10px;text-align: left;
    height: auto;
}

.image-text-header {
    color: #333
}

.image-text-header-right {
    color: #333
}

.image-text-content {
    display: flex; flex-direction: row; height: auto;
    overflow: hidden; 
}

.semitrans-card {
    background-color: rgba(255,255,255,0.8); padding: 20px; margin: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  text-align: left;
}

.primary-color{
    color: #B53D4D;
}

.semitrans-card-neut {padding: 20px; margin: 10px; text-align: left;
}

.image-preview-pose3d {
    width: 250px;
    margin: 10px;
    margin-top: 0px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-image: url('assets/pose1.png');
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-pose3d-anim 3s step-end infinite, image-preview-passive 2s ease-in-out infinite;
}

.image-preview-quickmark {
    width: 150px;
    height: 250px;
    margin: 10px;
    margin-top: 0px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-image: url('assets/qa1.png');
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-quickmark-anim 6s step-end infinite, image-preview-passive 2s ease-in-out infinite;
}

.image-preview-gg {
    width: 150px;
    margin: 10px;
    height: 200px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-image: url('assets/pose1.png');
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-gg-anim 4s step-end infinite, image-preview-passive 2s ease-in-out infinite;
}

.autoscroll {
    display: inline-block;
    height: 250px;
    white-space: nowrap;
    overflow-y: hidden;
    animation: scrollLoop 10s linear infinite;
}   

.autoscroll-da {
    display: inline-block;
    height: 30px;
    white-space: nowrap;
    overflow-y: hidden;
    animation: scrollLoopDa 5s linear infinite;
}   


.image-preview-da{
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    animation: image-preview-passive 6s linear infinite;
}

/* Move content from right to left */
@keyframes scrollLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Move content from right to left */
@keyframes scrollLoopDa {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.image-preview video{
    margin: 10px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    

}
.image-preview {
    width: 70%;
    overflow: hidden;
    margin-left:0px;
    position: absolute;
    z-index: 100;
    justify-content: right;
    display: flex;
    margin-top: 80px;
    overflow-y: hidden;
    
    animation: image-preview-passive 5s ease-in-out infinite;
}


.autoscroll-da img{
    height: 30px;
    width: 30px;

    object-fit: contain;
}
.image-preview-peacock {
    width: 300px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 0px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-passive 3s ease-in-out infinite;
}

.insert{
    background-image: none; display: block; z-index:0; position: relative; margin-left: 0%; height: 150px; width: 250px;
}
.image-preview-sma {
    width: 300px;
    margin: 10px;
    margin-top: 0px;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    background-image: url('assets/pose1.png');
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-sma-anim 10s step-end infinite, image-preview-passive 3s ease-in-out infinite;
}

.image-text-info{
    display: flex; 
    flex-direction: column;
    width: 70%;
}

@keyframes image-preview-passive {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(10px)
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes image-preview-gg-anim {
    0%{
        background-image: url('assets/gg1.png');
        
    }
    33%{
        background-image: url('assets/gg2.png');
    }
    66%{
        background-image: url('assets/gg3.png');
    }
    100%{
        background-image: url('assets/gg4.png');
    }

}



@keyframes image-preview-pose3d-anim {
    0%{
        background-image: url('assets/pose1.png');
        overflow-y: hidden;
    }
    33%{
        background-image: url('assets/pose2.png');
    }
    66%{
        background-image: url('assets/pose3.png');
    }
    100%{
        background-image: url('assets/pose1.png');
    }

}

@keyframes image-preview-quickmark-anim {
    0%{
        background-image: url('assets/qa1.png');
        overflow-y: hidden;
    }
    11%{
        background-image: url('assets/qa2.png');
        
    }
    22%{
        background-image: url('assets/qa3.png');
        
    }
    33%{
        background-image: url('assets/qa4.png');
        
    }
    44%{
        background-image: url('assets/qa5.png');
        
    }
    55%{
        background-image: url('assets/qa6.png');
        
    }
    66%{
        background-image: url('assets/qa7.png');
        
    }
    77%{
        background-image: url('assets/qa8.png');
        
    }
    88%{
        background-image: url('assets/qa9.png');
        
    }
    100%{
        background-image: url('assets/qa5.png');
        
    }

}


@keyframes image-preview-sma-anim {
    0%{
        background-image: url('assets/sm1.png');
    }

    11%{
        background-image: url('assets/sm2.png');
    }
    22%{
        background-image: url('assets/sm3.png');
    }
    33%{
        background-image: url('assets/sm4.png');
    }
    44%{
        background-image: url('assets/sm5.png');
    }
    55%{
        background-image: url('assets/sm6.png');
    }
    66%{
        background-image: url('assets/sm7.png');
    }
    77%{
        background-image: url('assets/sm8.png');
    }
    88%{
        background-image: url('assets/sm9.png');
    }
    100%{
        background-image: url('assets/sm1.png');
    }

}


.image-preview-appointment {
    width: 200px;
    margin: 10px;
    margin-top: 0px;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    background-image: url('assets/private.png');
    background-size: contain; /* Adjusts image to fit the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: image-preview-passive 3s ease-in-out infinite;
}

.cert-container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 80%;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 30px;
}

.cert-name{
    width: 300px;
    text-align: left;
}
.cert-subtitle{
    font-size: 10px;
    text-align: left;
}

body{
    scroll-margin-top: 100px;
}

.contact-row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

